<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1>Sobre</h1>
            <p>A RC Comércio de Vidros e Embalagens, fundada em 1.994, tem como Princípio Honestidade Empresarial e Transparência em sua Administração, assim atendendo melhor seus clientes, honrando seus compromissos e destacando-se pela agilidade no atendimento e rapidez na entrega.</p>
            <p> Temos como parceiras as maiores e mais conceituadas empresas do ramo de embalagens de vidro e plásticos e dispomos da linha completa de embalagens para Indústria Farmacêutica, Cosmética, Alimentícia, Química, Farmácias de Manipulação e Homeopatia, fornecendo qualquer quantidade a nível de Território Nacional.</p>
            <p>Consulte-nos sem compromisso, nossa equipe de profissionais altamente qualificada aguarda seu contato e terá um grande prazer em atendê-lo garantindo qualidade e o melhor preço do mercado.</p>            
            <p>Rapidez e eficiência na entrega.</p>
            <p>Qualidade e responsabilidade no ramo de embalagens de vidro e plásticos.</p>
        </div>
    </div>
</div>